doc/node-red/websocket-in-flow.json
[
  {
    "id": "56db6351ef85b5e2",
    "type": "tab",
    "label": "BLE-RC in",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d4ef4d94e2560bb3",
    "type": "websocket in",
    "z": "56db6351ef85b5e2",
    "name": "BLERC in",
    "server": "",
    "client": "3ee14b8f32b1ba3d",
    "x": 100,
    "y": 160,
    "wires": [["f01479fe2d692999"]]
  },
  {
    "id": "f01479fe2d692999",
    "type": "json",
    "z": "56db6351ef85b5e2",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 110,
    "y": 200,
    "wires": [["bb66a22acdc8a961"]]
  },
  {
    "id": "da400108e061ada0",
    "type": "api-call-service",
    "z": "56db6351ef85b5e2",
    "name": "Kodi",
    "server": "efbddbd9.15bcd8",
    "version": 3,
    "debugenabled": false,
    "service_domain": "script",
    "service": "start_kodi",
    "entityId": "",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 410,
    "y": 280,
    "wires": [[]]
  },
  {
    "id": "bb66a22acdc8a961",
    "type": "switch",
    "z": "56db6351ef85b5e2",
    "name": "",
    "property": "payload.method",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "keydown",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "keyup",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 230,
    "y": 200,
    "wires": [["f83a4bb0a6965f4d"], ["7ba7eb2af3c8515b", "92c8f1ebc10d8fcb"]]
  },
  {
    "id": "7ba7eb2af3c8515b",
    "type": "switch",
    "z": "56db6351ef85b5e2",
    "name": "",
    "property": "payload.params.key",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "KEYCODE_PROG_RED",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "KEYCODE_PROG_GREEN",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "KEYCODE_PROG_YELLOW",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "KEYCODE_PROG_BLUE",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 4,
    "x": 110,
    "y": 340,
    "wires": [
      ["1d1f693a7b112ed8"],
      ["de98910465a6bd1a"],
      ["80a0be027878c684"],
      ["ec7fe963b6aa0c4b"]
    ]
  },
  {
    "id": "de98910465a6bd1a",
    "type": "api-call-service",
    "z": "56db6351ef85b5e2",
    "name": "Youtube",
    "server": "efbddbd9.15bcd8",
    "version": 3,
    "debugenabled": false,
    "service_domain": "script",
    "service": "start_youtube",
    "entityId": "",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 260,
    "y": 320,
    "wires": [[]]
  },
  {
    "id": "80a0be027878c684",
    "type": "api-call-service",
    "z": "56db6351ef85b5e2",
    "name": "Disney",
    "server": "efbddbd9.15bcd8",
    "version": 3,
    "debugenabled": false,
    "service_domain": "script",
    "service": "start_disney",
    "entityId": "",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 250,
    "y": 360,
    "wires": [[]]
  },
  {
    "id": "ec7fe963b6aa0c4b",
    "type": "api-call-service",
    "z": "56db6351ef85b5e2",
    "name": "Prime",
    "server": "efbddbd9.15bcd8",
    "version": 3,
    "debugenabled": false,
    "service_domain": "script",
    "service": "schlazi_tv_prime",
    "entityId": "",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 250,
    "y": 400,
    "wires": [[]]
  },
  {
    "id": "1d1f693a7b112ed8",
    "type": "function",
    "z": "56db6351ef85b5e2",
    "name": "",
    "func": "let kodi = null;\nlet netflix = null;\n\nif (Date.now() - flow.get(\"blercKeyDown\") > 500) {\n    netflix = msg;\n} else {\n    kodi = msg;\n}\n\nreturn [kodi,netflix];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 260,
    "y": 280,
    "wires": [["da400108e061ada0"], ["4665622f7505ffbb"]]
  },
  {
    "id": "4665622f7505ffbb",
    "type": "api-call-service",
    "z": "56db6351ef85b5e2",
    "name": "Netflix",
    "server": "efbddbd9.15bcd8",
    "version": 3,
    "debugenabled": false,
    "service_domain": "script",
    "service": "start_netflix",
    "entityId": "",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 410,
    "y": 320,
    "wires": [[]]
  },
  {
    "id": "92c8f1ebc10d8fcb",
    "type": "delay",
    "z": "56db6351ef85b5e2",
    "name": "50ms",
    "pauseType": "delay",
    "timeout": "50",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 410,
    "y": 220,
    "wires": [["150d4f79efbad0a3"]]
  },
  {
    "id": "f83a4bb0a6965f4d",
    "type": "change",
    "z": "56db6351ef85b5e2",
    "name": "Timestamp Keydown",
    "rules": [
      {
        "t": "set",
        "p": "blercKeyDown",
        "pt": "flow",
        "to": "",
        "tot": "date"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 460,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "150d4f79efbad0a3",
    "type": "change",
    "z": "56db6351ef85b5e2",
    "name": "Remove Timestamp",
    "rules": [
      {
        "t": "delete",
        "p": "blercKeyDown",
        "pt": "flow"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 580,
    "y": 220,
    "wires": [[]]
  },
  {
    "id": "3ee14b8f32b1ba3d",
    "type": "websocket-client",
    "path": "ws://192.168.178.218:81/jsonrpc",
    "tls": "",
    "wholemsg": "false",
    "hb": "10"
  },
  {
    "id": "efbddbd9.15bcd8",
    "type": "server",
    "name": "Home Assistant",
    "version": 2,
    "addon": true,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true,
    "heartbeat": false,
    "heartbeatInterval": 30
  }
]
