doc/node-red/websocket-out-flow.json
[
  {
    "id": "56db6351ef85b5e2",
    "type": "tab",
    "label": "BLE-RC out",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "07f492947b224677",
    "type": "websocket out",
    "z": "56db6351ef85b5e2",
    "name": "BLE-RC out",
    "server": "",
    "client": "3ee14b8f32b1ba3d",
    "x": 450,
    "y": 80,
    "wires": []
  },
  {
    "id": "74c9515399442738",
    "type": "server-events",
    "z": "56db6351ef85b5e2",
    "name": "Android TV Control",
    "server": "efbddbd9.15bcd8",
    "version": 1,
    "event_type": "android_tv_control",
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      }
    ],
    "x": 130,
    "y": 80,
    "wires": [["7e9ed5ba6993d1c5"]]
  },
  {
    "id": "7e9ed5ba6993d1c5",
    "type": "change",
    "z": "56db6351ef85b5e2",
    "name": "Transform",
    "rules": [
      {
        "t": "move",
        "p": "payload.event",
        "pt": "msg",
        "to": "temp",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"method\":\"keypress\"}",
        "tot": "json"
      },
      {
        "t": "move",
        "p": "temp",
        "pt": "msg",
        "to": "payload.params",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 300,
    "y": 80,
    "wires": [["07f492947b224677"]]
  },
  {
    "id": "3ee14b8f32b1ba3d",
    "type": "websocket-client",
    "path": "ws://192.168.178.218:81/jsonrpc",
    "tls": "",
    "wholemsg": "false",
    "hb": "10"
  },
  {
    "id": "efbddbd9.15bcd8",
    "type": "server",
    "name": "Home Assistant",
    "version": 2,
    "addon": true,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true,
    "heartbeat": false,
    "heartbeatInterval": 30
  }
]
